/* 提示信息 */
ons-card.lottocard {
  background: #0076ff;
  color: white;
  text-align: center;
}
/* 提示信息 */
ons-card.noprize {
  background: #ff7600;
  color: white;
  text-align: center;
}
/* 抽选数量选择 */
ons-range.range {
  width: 90%;
}
/* 控制按钮 */
ons-fab.control-button {
  width: 14rem;
  height: 14rem;
  font-size: 12rem;
  margin-left: -7rem;
  line-height: 10rem;
  color: #fff;
  bottom: 3rem;
  box-shadow: 3px 5px #999;
}
/* 控制按钮选中时 */
ons-fab.control-button:focus {
  outline: 0;
}
/* 控制按钮按下时 */
ons-fab.control-button:active {
  box-shadow: 1px 3px #666;
  transform: translateY(4px);
}
/* 启动按钮 */
ons-fab.control-button.start {
  background: #4caf50;
}
/* 停止按钮 */
ons-fab.control-button.pause {
  background: #af4c50;
}
/* 继续按钮 */
ons-fab.control-button.replay {
  background: #4caf50;
}
/* 启动按钮按下时 */
ons-fab.control-button.start:active {
  background-color: #3e8e41;
}
/* 停止按钮按下时 */
ons-fab.control-button.pause:active {
  background-color: #8e3e41;
}
/* 继续按钮按下时 */
ons-fab.control-button.replay:active {
  background-color: #3e8e41;
}
/* Tabbar字体颜色（默认有BUG） */
:checked+.tabbar__button {
  color: #0076ff;
}
/* 警告框确认按钮 */
ons-alert-dialog-button.confirm {
  color: red;
}
