.lottocard {
    background: #0076ff;
    color: white;
}
.startbutton {
    width: 10rem;
    height: 10rem;
    font-size: 6rem;
    margin-left: -5rem;
    line-height: 8rem;
    background: #0076ff;
    color: white;
}
.startbutton:active {
    box-shadow: 0 3px 6 rgba(0, 0, 0, .12);
    background-color: #0076ff;
    transition: all 0.2s ease;
    box-shadow: 0 0 6 rgba(0, 0, 0, .12);
}
.startbutton:focus {
    outline: 0;
}
.startbutton:disabled,
    ons-fab.fab[disabled],
    ons-speed-dial-item.fab:disabled,
    ons-speed-dial-item.fab[disabled],
    button.fab:disabled,
    button.fab[disabled] {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: none;
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}
  