<ons-toolbar  disable-auto-styling>
  <div class="left"><ons-back-button></ons-back-button></div>
  <div class="center">{{ title }}</div>
</ons-toolbar>
<div class="content">
  <ons-card class="lottocard">
    <div class="title" style="text-align: center;">{{ prizeInfo.prizeDesc }}<br>抽取人数: {{ prizeInfo.prizePerson }}</div>
    <div class="content">
      <div style="text-align: center; margin: 0rem" *ngIf="prizeInfo.prizeStatus != 0">
        <input type="range" min="1" [max]="maxPerson" class="range" [value]="prizeInfo.prizePerson" (input)="prizeInfo.prizePerson = $event.target.value" style="width: 100%; height: 3rem;">
      </div>
    </div>
  </ons-card>
  <ons-fab id="controlButton" position="center bottom" (click)="startLotto()" class="startbutton" *ngIf="prizeInfo.prizeStatus == 1">
    <ons-icon icon="ion-android-hand"></ons-icon>
  </ons-fab>
  <ons-fab position="center bottom" (click)="stopLotto()" class="stopbutton" *ngIf="prizeInfo.prizeStatus == 0">
    <ons-icon icon="ion-android-hand"></ons-icon>
  </ons-fab>
</div>
  