<div class="ui large icon buttons">
  <button id="menu21" class="ui blue button" (click)="newPrize()"><i class="add plus icon"></i></button>
  <button id="menu22" class="ui blue button" (click)="removePrize()"><i class="remove minus icon"></i></button>
  <input type="file" (change)="uploadPrize($event)" class="inputfile" id="uploadPrizeFile" accept=".csv">
  <label id="menu23" for="uploadPrizeFile" class="ui blue button"><i class="upload icon"></i></label>
</div>
<div class="ui right floated large icon buttons">
  <button id="menu24" class="ui blue button" (click)="setOrder(0)"><i class="up arrow icon"></i></button>
  <button id="menu25" class="ui blue button" (click)="setOrder(1)"><i class="down arrow icon"></i></button>
</div>
<div class="tablist">
    <table class="ui selectable celled table" style="width: 100%; margin-top: 0em">
      <thead>
        <tr>
          <th class="collapsing center aligned">编号</th>
          <th class="center aligned">名称</th>
          <th class="center aligned">描述</th>
          <th class="collapsing center aligned">数量</th>
          <th class="collapsing center aligned">中奖数</th>
          <th class="collapsing center aligned">限定部门</th>
          <th class="collapsing center aligned">允许重复中奖</th>
          <th class="collapsing center aligned">状态</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prize of prizeList" (dblclick)="editPrize(prize.prizeId)">
          <td>
            <div class="ui checkbox">
              <input type="checkbox" [checked]="prize.isSelected" (change)="prize.isSelected = !prize.isSelected" />
              <label>{{ prize.prizeId }}</label>
            </div>
          </td>
          <td>{{ prize.prizeName }}</td>
          <td>{{ prize.prizeDesc }}</td>
          <td class="right aligned">{{ prize.prizeNumber }}</td>
          <td class="right aligned">{{ prize.prizeWinner }}</td>
          <td>{{ prize.deptId }}</td>
          <td class="center aligned">{{ prize.prizeMulti == '1' ? '允许' : '不许' }}</td>
          <td class="center aligned">{{ prize.prizeStatus == '0' ? '待抽选' : (prize.prizeStatus == '1' ? '抽选中' : '已抽完') }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ui page dimmer">
    <div class="content">
      <div class="center">
        <div class="ui text loader">数据导入中</div>
      </div>
    </div>
  </div>
  <div id="errorTip" class="ui modal">
    <i class="close icon"></i>
    <div class="header">{{errorTitle}}</div>
    <div class="content">
      <div class="description">
        <p>{{errorMessage}}</p>
      </div>
    </div>
    <div class="actions">
      <div class="ui ok blue button">确定</div>
    </div>
  </div>
  <div id="editPrizeWin" class="ui modal">
    <i class="close icon"></i>
    <div class="header">{{ editFlag == 0 ? '添加奖项' : '编辑奖项'}}</div>
    <div class="content">
      <div class="ui input">
        <input placeholder="奖项编号" type="text" [value]="prizeInfo.prizeId" (input)="prizeInfo.prizeId = $event.target.value" [readonly]="editFlag != 0">
        <input placeholder="奖项名称" type="text" [value]="prizeInfo.prizeName" (input)="prizeInfo.prizeName = $event.target.value">
        <input placeholder="描述" type="text" style="width: 32rem;" [value]="prizeInfo.prizeDesc" (input)="prizeInfo.prizeDesc = $event.target.value">
      </div>
      <div class="ui input">
        <input placeholder="数量" type="text" style="text-align: right;" [value]="prizeInfo.prizeNumber" (input)="prizeInfo.prizeNumber = $event.target.value">
        <select style="width: 13.4rem;" [value]="prizeInfo.deptId" (input)="prizeInfo.deptId = $event.target.value">
          <option [value]="dept.deptId" *ngFor="let dept of deptList">{{dept.deptId == ''? dept.deptName : dept.deptId + ' : ' + dept.deptName}}</option>
        </select>
        <div class="ui checkbox" style="margin-top: 0.6rem; margin-left: 0.6rem;">
          <input type="checkbox" [checked]="prizeInfo.prizeMulti == 1" (change)="prizeInfo.prizeMulti = prizeInfo.prizeMulti == 0 ? 1 : 0">
          <label>允许重复中奖</label>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui cancel red button">取消</div>
      <div class="ui ok blue button" (click)="updatePrize()">确定</div>
    </div>
  </div> 