<div class="ui content" style="padding: 1rem">
  <div class="ui pointing secondary menu blue">
    <h3 class="item header">纬创抽奖后台管理</h3>
    <a class="item active" data-tab="tabEmp" (click)="listEmp()"><i class="user icon"></i>员工管理</a>
    <a class="item" data-tab="tabPrize" (click)="listPrize()"><i class="gift icon"></i>奖项管理</a>
    <a class="item" data-tab="tabWinner" (click)="listWinner()"><i class="trophy icon"></i>中奖名单</a>
  </div>
  <div class="ui active tab segment managetab" data-tab="tabEmp">
    <app-emp></app-emp>
  </div>
  <div class="ui tab segment managetab" data-tab="tabPrize">Second</div>
  <div class="ui tab segment managetab" data-tab="tabWinner">Third</div>  
</div>
