html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
}
/* 员工 */
.element {
  width: 180px;
  height: 100px;
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
  text-align: center;
  cursor: default;
  background-color: rgba(0, 127, 127, 0.25);
}
.element:hover {
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.75);
  border: 1px solid rgba(127, 255, 255, 0.75);
}
/* 员工姓名 */
.element .name {
  position: absolute;
  top: 12px;
  left: 0px;
  right: 0px;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}
/* 员工详细 */
.element .detail {
  position: absolute;
  bottom: 12px;
  left: 0px;
  right: 0px;
  font-size: 16px;
}
/* 男性员工字体颜色 */
.element.male {
  /* color: rgba(127, 255, 255, 0.75); */
  color: rgba(255, 255, 127, 0.75);
}
/* 女性员工字体颜色 */
.element.female {
  color: rgba(255, 255, 127, 0.75);
}
/* 中奖员工 */
.element.winned {
  background-color: rgba(235, 63, 47, 0.25);
}
/* 此次中奖员工 */
.element.winner {
  background-color: rgba(235, 63, 47, 1);
}
/* 弃奖员工 */
.element.giveup {
  background-color: rgba(128, 128, 128, 0.25);
}
/* 奖项 */
.prize {
  width: 800px;
  height: 600px;
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(109, 184, 184, 0.25);
  text-align: center;
  cursor: default;
  background-color: rgba(235, 63, 47, 0.25);
  display: none;
}
/* 奖项描述 */
.prize .desc {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}
/* 奖项照片 */
.prize .photo {
  position: absolute;
  top: 15px;
  left: 0px;
  right: 0px;
  height: 500px;
}
