<div id="emptoolbar" class="ui large icon buttons">
  <button id="menu1" class="ui blue button" (click)="newEmp()"><i class="add user icon"></i></button>
  <button id="menu2" class="ui blue button" (click)="removeEmp()"><i class="remove user icon"></i></button>
  <input type="file" (change)="uploadEmp($event)" class="inputfile" id="uploadEmpFile" accept=".csv" />
  <label id="menu3" for="uploadEmpFile" class="ui blue button"><i class="upload icon"></i></label>
</div>
<table id="example" class="ui selectable celled table" style="width: 100%">
  <thead>
    <tr>
      <th class="collapsing center aligned">编号</th>
      <th class="collapsing center aligned">姓名</th>
      <th class="collapsing center aligned">名</th>
      <th class="collapsing center aligned">姓</th>
      <th class="collapsing center aligned">部门编号</th>
      <th class="center aligned">部门名称</th>
      <th class="collapsing center aligned">倍率</th>
      <th class="collapsing center aligned">中奖</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empList" (dblclick)="editEmp(emp.empId)">
      <td>
        <div class="ui checkbox">
          <input type="checkbox" [checked]="emp.isSelected" (change)="emp.isSelected = !emp.isSelected" />
          <label>{{ emp.empId }}</label>
        </div>
      </td>
      <td>{{ emp.empCname }}</td>
      <td>{{ emp.empFname }}</td>
      <td>{{ emp.empLname }}</td>
      <td>{{ emp.empDeptno }}</td>
      <td>{{ emp.empDeptname }}</td>
      <td class="collapsing right aligned">{{ emp.empRate }}</td>
      <td class="collapsing center aligned">{{ emp.prizeFlag == '0' ? '未中' : '已中' }}</td>
    </tr>
  </tbody>
</table>
<div class="ui page dimmer">
  <div class="content">
    <div class="center">
      <div class="ui text loader">数据导入中</div>
    </div>
  </div>
</div>
<div id="errorTip" class="ui modal">
  <i class="close icon"></i>
  <div class="header">{{errorTitle}}</div>
  <div class="content">
    <div class="description">
      <p>{{errorMessage}}</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui ok blue button">确定</div>
  </div>
</div>
<div id="editEmpWin" class="ui modal">
  <i class="close icon"></i>
  <div class="header">{{ editFlag == 0 ? '添加员工' : '编辑员工'}}</div>
  <div class="content">
    <div class="ui input">
      <input placeholder="员工编号" type="text" [value]="empInfo.empId" (input)="empInfo.empId = $event.target.value" [readonly]="editFlag != 0">
      <input placeholder="员工姓名" type="text" [value]="empInfo.empCname" (input)="empInfo.empCname = $event.target.value">
      <input placeholder="名" type="text" [value]="empInfo.empFname" (input)="empInfo.empFname = $event.target.value">
      <input placeholder="姓" type="text" [value]="empInfo.empLname" (input)="empInfo.empLname = $event.target.value">
    </div>
    <div class="ui input">
      <input placeholder="部门编号" type="text" [value]="empInfo.empDeptno" (input)="empInfo.empDeptno = $event.target.value">
      <input placeholder="部门名称" type="text" style="width: 32rem;" [value]="empInfo.empDeptname" (input)="empInfo.empDeptname = $event.target.value">
      <input placeholder="倍率" type="text" style="text-align: right;" [value]="empInfo.empRate" (input)="empInfo.empRate = $event.target.value">
      <input placeholder="中奖" type="hidden" [value]="empInfo.prizeFlag" (input)="empInfo.prizeFlag = $event.target.value">
    </div>
</div>
  <div class="actions">
    <div class="ui cancel red button">取消</div>
    <div class="ui ok blue button" (click)="updateEmp()">确定</div>
  </div>
</div>