<div id="emptoolbar" class="ui large icon buttons">
  <button id="menu1" class="ui blue button"><i class="add user icon"></i></button>
  <button id="menu2" class="ui blue button"><i class="remove user icon"></i></button>
  <button id="menu3" class="ui blue button"><i class="cog icon"></i></button>
</div>
<table id="example" class="ui celled table" style="width: 100%">
  <thead>
    <tr>
      <th>
        <div class="ui checkbox">
          <input type="checkbox">
          <label>编号</label>
        </div>
      </th>
      <th>姓名</th>
      <th>名</th>
      <th>姓</th>
      <th>性别</th>
      <th>部门代码</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
    <tr>
      <td>
        <div class="ui checkbox">
          <input type="checkbox" />
          <label>DL0805006</label>
        </div>
      </td>
      <td>盛广立</td>
      <td>Guangli</td>
      <td>Sheng</td>
      <td>男</td>
      <td>W5310</td>
    </tr>
  </tbody>
</table>
