<!-- 工具条 -->
<div class="ui large icon buttons toolbar">
  <button id="menu11" class="ui blue button" (click)="newEmp()"><i class="add user icon"></i></button>
  <button id="menu12" class="ui blue button" (click)="removeEmp()"><i class="remove user icon"></i></button>
  <input type="file" (change)="uploadEmp($event)" class="inputfile" id="uploadEmpFile" accept=".csv" />
  <label id="menu13" for="uploadEmpFile" class="ui blue button"><i class="upload icon"></i></label>
</div>
<!-- 明细一览 -->
<div class="tablist">
  <table class="ui selectable celled table">
    <thead>
      <tr class="gridheader">
        <th class="center aligned empid">员工ID</th>
        <th class="center aligned empname">员工姓名</th>
        <th class="center aligned empsex">性别</th>
        <!-- <th class="center aligned groupid">抽奖组ID</th> -->
        <th class="center aligned deptid">部门编号</th>
        <th class="center aligned deptname">部门名称</th>
        <!-- <th class="center aligned emprate">加权</th> -->
        <th class="center aligned prizeflag">中奖</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of empList" (dblclick)="editEmp(e.empId)">
        <td class="center aligned empid">
          <div class="ui checkbox empid">
            <input type="checkbox" [checked]="e.selected" (change)="e.selected = !e.selected" />
            <label>{{ e.empId }}</label>
          </div>
        </td>
        <td class="empname">{{ e.empName }}</td>
        <td class="center aligned empsex">{{ e.empSex === C.SexFlag.MALE ? '男' : e.empSex === C.SexFlag.FEMALE ? '女' : '不详' }}</td>
        <!-- <td class="center aligned groupid">{{e.groupId}}</td> -->
        <td class="center aligned deptid">{{ e.deptId }}</td>
        <td class="deptname">{{ e.deptName }}</td>
        <!-- <td class="right aligned emprate">{{e.empRate}}</td> -->
        <td class="center aligned prizeflag">{{ e.prizeFlag === C.PrizeFlag.NONE ? '未中' : e.prizeFlag === C.PrizeFlag.WIN ? '已中' : '弃奖' }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- 遮罩 -->
<div id="dimmerEmp" class="ui page dimmer">
  <div class="content">
    <div class="center">
      <div class="ui text loader">数据导入中</div>
    </div>
  </div>
</div>
<!-- 对话框 -->
<div id="dialogEmp" class="ui modal">
  <i class="close icon"></i>
  <div class="header">{{ dialogTitle }}</div>
  <div class="content">
    <div class="description">
      <p>{{ dialogMessage }}</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui ok blue button">确定</div>
  </div>
</div>
<!-- 编辑界面 -->
<div id="editwinEmp" class="ui modal">
  <i class="close icon"></i>
  <h3 class="ui dividing header">{{ editFlag == C.EditFlag.ADD ? '添加员工' : '编辑员工' }}</h3>
  <div class="ui form content">
    <div class="fields">
      <div class="three wide field">
        <label>员工编号</label>
        <input
          placeholder="员工编号"
          type="text"
          [value]="empInfo.empId"
          (input)="empInfo.empId = $event.target.value"
          [readonly]="editFlag != C.EditFlag.ADD"
        />
      </div>
      <div class="two wide field">
        <label>员工姓名</label>
        <input placeholder="员工姓名" type="text" [value]="empInfo.empName" (input)="empInfo.empName = $event.target.value" />
      </div>
      <div class="two wide field">
        <label>员工性别</label>
        <div class="field">
          <div class="ui radio checkbox male">
            <input type="radio" name="empSex" class="hidden" />
            <label>男</label>
          </div>
          <div class="ui radio checkbox female">
            <input type="radio" name="empSex" class="hidden" />
            <label>女</label>
          </div>
        </div>
      </div>
      <div class="two wide field">
        <label>抽奖组ID</label>
        <input placeholder="抽奖组ID" type="text" [value]="empInfo.groupId" (input)="empInfo.groupId = $event.target.value" />
      </div>
      <div class="five wide field">
        <label>所在部门</label>
        <select class="large" [value]="empInfo.deptId" (input)="empInfo.deptId = $event.target.value">
          <option *ngFor="let d of C.DeptList" [value]="d.deptId">{{ d.idName }}</option>
        </select>
      </div>
      <div class="two wide field">
        <label>权值</label>
        <input class="right" placeholder="权值" type="text" [value]="empInfo.empRate" (input)="empInfo.empRate = $event.target.value" />
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel red button">取消</div>
    <div class="ui ok blue button" (click)="updateEmp()">确定</div>
  </div>
</div>
